.introduction {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #195078;
}

.intro-container {
	width: 343px;
	height: 594px;
	padding-top: 64px;
}

.intro-heading {
	margin-top: 250px;
	margin-bottom: 0px;
	font-family: "Montserrat", sans-serif;
	color: #73bdcb;
	font-weight: 600;
	font-size: 18px;
	line-height: 21.94px;
}
.intro-heading h1 {
	font-family: "Montserrat", sans-serif;
	color: #db938f;
	font-size: 32px;
	font-weight: 700;
	line-height: 39.01px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	position: relative;
	top: -30px;
}

.intro-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 120px;
 
}

.intro-image img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -110%;
	border: 6px solid #db938f;
	width: 164px;
	height: auto;
  border-radius: 100px;
}

.intro-image p {
	display: flex;
	text-align: left;
	margin-top: -40px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Hind", sans-serif;
	color: #73bdcb;
}

.wavy-text span {
	white-space: pre-wrap;
	transition: transform 0.3s ease;
}

.wavy-text:hover span {
	animation: wave 1s ease-in-out;
  cursor: pointer;
}

@keyframes wave {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(-8px);
	}
	60% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounceArrow {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

.arrow {
	display: flex;
	justify-content: center;
	font-size: 70px;
	color: #db938f;
	margin: 10% 0 5% 0;
	animation: bounceArrow 1.6s infinite;
}

@media (min-width: 668px) {
	.introduction {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 800px;
		justify-content: center;
		align-items: center;
	}

	.intro-container {
		width: 680px;
		margin: 0 auto;
		position: relative;
		margin-top: -50%;
    padding: 0 20px;
	}

	.intro-heading h2 {
		font-family: "Montserrat", sans-serif;
		color: #73bdcb;
		font-weight: 600;
		font-size: 32px;
		line-height: 39.01px;
	}

	.intro-heading h1 {
		font-family: "Montserrat", sans-serif;
		color: #db938f;
		font-size: 60px;
		font-weight: 700;
		line-height: 97.52px;
		padding: 0;
		display: flex;
		text-align: left;
		position: relative;
		top: -70px;
	}

	.intro-image {
		width: 688px;
		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 20%, 80%;
		gap: 22px;
		place-items: center;
		margin-top: -10%;
	}

	.intro-image img {
		width: 164px;
		height: auto;
		margin-right: 20px;
		border: 6px solid #db938f;
		display: grid;
		grid-column: 1;
		margin-top: -10%;
		margin-bottom: 10%;
    border-radius: 100px;
	}

	.intro-image p {
		display: grid;
		grid-column: 2;
		font-size: 18px;
		font-weight: 400;
    width: 400px;
		font-family: "Hind", sans-serif;
		color: #73bdcb;
	}

	.arrow {
		display: flex;
		justify-content: center;
		font-size: 70px;
		color: #db938f;
		margin: 5% 0 5% 0;
	}
}

@media (min-width: 1025px) {
	.introduction {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    width: 100%;
		height: 750px;
	}

	.intro-container {
		width: 850px;
		position: relative;
		margin-top: -30%;
	}

	.intro-heading h2 {
		font-family: "Montserrat", sans-serif;
		color: #73bdcb;
		font-weight: 600;
		font-size: 32px;
		line-height: 39.01px;
	}

	.intro-heading h1 {
		font-family: "Montserrat", sans-serif;
		color: #db938f;
		font-size: 80px;
		font-weight: 700;
		line-height: 97.52px;
		padding: 0;
		display: flex;
		text-align: left;
		position: relative;
		top: -70px;
	}

	.intro-image {
		width: 850px;
		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 20%, 80%;
		gap: 22px;
		place-items: center;
		margin-top: -10%;
	}

	.intro-image img {
		width: 164px;
		height: auto;
		border-radius: 100px;
		margin-right: 20px;
    border: 6px solid #db938f;
		display: grid;
		grid-column: 1;
		margin-top: -10%;
		margin-bottom: 10%;
	}

	.intro-image p {
		display: grid;
		grid-column: 2;
		font-size: 18px;
		font-weight: 400;
    width: 600px;
		font-family: "Hind", sans-serif;
		color: #73bdcb;
	}

	.arrow {
		display: flex;
		justify-content: center;
		font-size: 70px;
		color: #db938f;
    padding-top: 40px;
	}
}
